@model QB2.Models.OrderDetail

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>OrderDetail</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.OrderDetailId)

        <div class="form-group">
            @Html.LabelFor(model => model.OrderId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("OrderId")
                @Html.ValidationMessageFor(model => model.OrderId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity)
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CatalogItemId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CatalogItemId")
                @Html.ValidationMessageFor(model => model.CatalogItemId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpecialInstructions, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SpecialInstructions)
                @Html.ValidationMessageFor(model => model.SpecialInstructions)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiscountPercent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiscountPercent)
                @Html.ValidationMessageFor(model => model.DiscountPercent)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
 
