@model QB2.Models.OrderDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderDetail</h4>
	<hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.OrderDetailId)

        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderHeader.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        <dt>
            @Html.DisplayNameFor(model => model.CatalogItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogItem.CatalogItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        <dt>
            @Html.DisplayNameFor(model => model.SpecialInstructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialInstructions)
        <dt>
            @Html.DisplayNameFor(model => model.DiscountPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountPercent)
    </dl>
</div>
<p>
            @Html.ActionLink("Edit", "Edit", new {
 						OrderDetailId = Model.OrderDetailId 
 						}) |
    @Html.ActionLink("Back to List", "Index")
</p>
 
