@model QB2.Models.OrderHeader

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>OrderHeader</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.OrderId)

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserId")
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderDate, new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.OrderDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerId")
                @Html.ValidationMessageFor(model => model.CustomerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderTotal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderTotal)
                @Html.ValidationMessageFor(model => model.OrderTotal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalesTax, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalesTax)
                @Html.ValidationMessageFor(model => model.SalesTax)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalesTaxCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalesTaxCode)
                @Html.ValidationMessageFor(model => model.SalesTaxCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingCharge, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingCharge)
                @Html.ValidationMessageFor(model => model.ShippingCharge)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QbUpdated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QbUpdated)
                @Html.ValidationMessageFor(model => model.QbUpdated)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalesTaxAmt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalesTaxAmt)
                @Html.ValidationMessageFor(model => model.SalesTaxAmt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiscountAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiscountAmount)
                @Html.ValidationMessageFor(model => model.DiscountAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bTestOrder, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bTestOrder)
                @Html.ValidationMessageFor(model => model.bTestOrder)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
 
