@model QB2.Models.OrderHeader

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderHeader</h4>
	<hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.OrderId)

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OurCustomer.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderTotal)
        <dt>
            @Html.DisplayNameFor(model => model.SalesTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesTax)
        <dt>
            @Html.DisplayNameFor(model => model.SalesTaxCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesTaxCode)
        <dt>
            @Html.DisplayNameFor(model => model.ShippingCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingCharge)
        <dt>
            @Html.DisplayNameFor(model => model.QbUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QbUpdated)
        <dt>
            @Html.DisplayNameFor(model => model.SalesTaxAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesTaxAmt)
        <dt>
            @Html.DisplayNameFor(model => model.DiscountAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountAmount)
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        <dt>
            @Html.DisplayNameFor(model => model.bTestOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bTestOrder)
    </dl>
</div>
<p>
            @Html.ActionLink("Edit", "Edit", new {
 						OrderId = Model.OrderId 
 						}) |
    @Html.ActionLink("Back to List", "Index")
</p>
 
